<h2>Welcome, <%= @user.user_name %>!</h2><br>
<h3>Artist Info</h3><br>
Name:<br>
Email:<br>
Website:<br>
<br><br>





<a href="/my_photos">My Photos</a>

<a href="/community_photos">Community Photos</a>
<a href="/logout">Log Out</a>
