<h2><font face="Comic Sans MS", cursive, sans-serif;>Welcome, <%= @user.user_name %>!</font></h2><br>
<h3>Artist Info</h3><br>
Name:<br>
Email:<br>
Website:<br>
<br><br>





<a href="/my_photos"><button>My Photos</button></a>

<a href="/community_photos"><button>Community Photos</button></a>
<a href="/logout"><button>Log Out</button></a>
