<h2><%= @user.user_name %></h2>
<h3>Email: <%= @user.email %></h3><br>

<div style="text-align: center">
  Click <a href="/photos/new_photo">here</a> to upload your art!<br>
  </div><br>


  <a href="/logout">Log Out</a>
