<html>

<head>
</head>

<title>Upload Your Art</title>

<body>
  <h1>Upload Your Art</h1><br>

<form action="/new_photo" method="POST">
  Image Link:
  <input type="text" name="img_url"><br>
  Image Name:
    <input type="text" name="name">
<button type="submit">Submit</button>
</form>
<a href="/">Back</a>

</body>
</html>
