<html>
<head>
</head>
<title>Welcome To ArtShare</title>

<body>

  <h1 align="center" style = "font-family:times new roman;">Welcome To ArtShare</h1>
  <div style="text-align: right">
    <a href="/login">Log In</a><br>
    <a href="/signup">Sign Up</a>
    </div>


  </body>
</html>
