<html>
<head>
  </head>

  <title>Log In</title>

  <body>
    <h1><font face="Comic Sans MS", cursive, sans-serif;>Log In</font></h1><br>


<form class="" action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email" value="">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form><br>
<a href="/"><button>Back</button></a>

</body>
</html>
