<html>
<head>
</head>
<title><font face="Comic Sans MS", cursive, sans-serif;>Goodbye!</font></title>

<body>

  <h1 align="center"><font face="Comic Sans MS", cursive, sans-serif;>Goodbye!</font></h1>
  <div style="text-align: right">
    <a href="/login">Log In</a><br>
    <a href="/signup">Sign Up</a>
    </div>


  </body>
</html>
